<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page> 
        <error-code>404</error-code>
        <location>/error.jsp?id=Requested Resource is not available</location>
    </error-page>
    <error-page>
        <location>/error.jsp?id=Oops, something went wrong. Please contact us via admin@rotaractmora.org if the problem persists.</location>
    </error-page>
    <servlet>
        <servlet-name>EmailConfirmation</servlet-name>
        <servlet-class>org.fiontar.registration.Servlet.EmailConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactFormServlet</servlet-name>
        <servlet-class>org.fiontar.registration.Servlet.ContactFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.fiontar.registration.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>org.fiontar.admin.Company.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndergradCompanyServlet</servlet-name>
        <servlet-class>org.fiontar.registration.Servlet.UndergradCompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndergradRegistrationServlet</servlet-name>
        <servlet-class>org.fiontar.registration.Servlet.UndergradRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPwdServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.ForgotPwdServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>PasswordServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.PasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendNotifications</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.SendNotifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.SettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailResend</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.EmailResend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestionsServlet</servlet-name>
        <servlet-class>org.fiontar.registration.Servlet.SuggestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignServlet</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.AssignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSMS</servlet-name>
        <servlet-class>org.fiontar.admin.servlet.SendSMS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendSMS</servlet-name>
        <url-pattern>/SendSMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignServlet</servlet-name>
        <url-pattern>/AssignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestionsServlet</servlet-name>
        <url-pattern>/SuggestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailResend</servlet-name>
        <url-pattern>/EmailResend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/SettingsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendNotifications</servlet-name>
        <url-pattern>/SendNotifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPwdServlet</servlet-name>
        <url-pattern>/ForgotPwdServlet</url-pattern>
    </servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>PasswordServlet</servlet-name>
        <url-pattern>/PasswordServlet</url-pattern>
    </servlet-mapping>
	
    <servlet-mapping>
        <servlet-name>UndergradCompanyServlet</servlet-name>
        <url-pattern>/UndergradCompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UndergradRegistrationServlet</servlet-name>
        <url-pattern>/UndergradRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailConfirmation</servlet-name>
        <url-pattern>/EmailConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactFormServlet</servlet-name>
        <url-pattern>/ContactFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/CompanyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
